@import "~bootstrap/scss/bootstrap";
@import "variables.scss";

body {
  background-color: $bg-body;
}

header {
  background-color: $bg-card;

  img {
    height: 60px;
  }
}

main {
  padding: 60px 0;

  .form-select {
    width: 30%;
    background-color: $bg-body;
    border: 3px solid $bg-card;
    margin-bottom: 60px;
    color: #6c757d;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .card {
    background-color: $bg-card;
    height: 450px;
    cursor: pointer;
  }
}
